<section class="single-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-img">
                    <img class="img-responsive" alt="" src="<%= image_path 'blog/post-1.jpg' %>">
                </div>
                <div class="post-content"><h1><%= publication.title %></h1></div>
                <div class="post-content">
                    <%= publication.content %>
                </div>
            </div>
        </div>
        <% if !publication.sold? && publication.author.id != current_individual.id %>
          <%= render 'shared/payment_form', { publication: publication } %>
        <% end %>
    </div>
</section>
