<!-- 
================================================== 
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>О проекте</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 
================================================== 
    Company Description Section Start
================================================== -->
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="block">
                    <p>Публикуйте свой контент<hr></p>
                    <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                        Воспользуйтесь возможностью получить комментарии к своей работе от редакторов сообщества con-con.me и улучшайте свой контент
                    </p><hr>
                    <p>Зарабатывайте деньги на продаже своих публикаций</p><hr>
                    <p>Получите возможность публиковать свои материалы в открытом доступе</p>    
                </div>
            </div>
        </div>
    </div>
</section>


<!-- 
================================================== 
    Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                <h2>
                    Статьи
                </h2>
                <p>
                    В два счета публикуйте свои статьи, блоги, репортажи на любую тематику, будьте услышаны
                </p>
            </div>
            <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                <h2 class="item_title">
                    Фотографии
                </h2>
                <p>
                    С нашей платформой найти покупателя к вашему фото-контенту стало намного проще
                </p>
            </div>
        </div>
    </div>
</section>


<!-- 
================================================== 
    Team Section Start
================================================== -->
<section id="team">
    <div class="container">
        <div class="row">
            <h2 class="subtitle text-center">К нам присоединились</h2>
            <div class="col-md-4">
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <div class="team-img">
                        <img src="<%= image_path 'team/team-1.jpg' %>" class="team-pic" alt="">
                    </div>
                    <h3 class="team_name">Jonathon Andrew</h3>
                    <p class="team_designation">CEO, Project Manager</p>
                    <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <div class="team-img">
                        <img src="<%= image_path 'team/team-1.jpg' %>" class="team-pic" alt="">
                    </div>
                    <h3 class="team_name">Jonathon Andrew</h3>
                    <p class="team_designation">CEO, Project Manager</p>
                    <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <div class="team-img">
                        <img src="<%= image_path 'team/team-1.jpg' %>" class="team-pic" alt="">
                    </div>
                    <h3 class="team_name">Jonathon Andrew</h3>
                    <p class="team_designation">CEO, Project Manager</p>
                    <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
==================================================
Clients Section Start
================================================== -->
