<%= render 'shared/title' %>

<!--
==================================================
Global Page Section Start
================================================== -->
<section id="blog-full-width">
<div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="sidebar">
            </div>
        </div>
        <div class="col-md-8">
            <%= render partial: 'shared/publication', collection: publications %>
        </div>
    </div>
</section>
<!--
==================================================
Call To Action Section Start
================================================== -->
