.fr-element > p {
  height: 400px;
}

.about-feature .block {
  width: 50%;
}

.author-bio {
  text-align: left;
}

.author-bio > h3 {
  text-align: center;
}

.check-button {
  width: 20px;
}

.notif {
  font-size: 1.5em;
  background-color: lightgreen;
  color: #ffffff;
  position: relative;
  top: 75px;
  height: 163px;
  line-height: 85px;
}
